.tabs {
  @extend %mixin-card;
  margin-bottom: 30px;
  padding: 0 40px;
  display: flex;
  width: 100%;
  height: 60px;
}
.tabs__btn {
	padding: 0;
	outline-style: none;
	height: 100%;
	background: transparent;
	border-style: none;
	color: #808080;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	cursor: pointer;

	&:hover {
		color: $blue;
	}
  & + & {
    margin-left: 50px;
  }
}
.tabs__btn--active {
	color: $blue;
	border-bottom: 2px solid $blue;
}
